<!--{% extends 'b.html' %}-->

<!--{% block content %}-->


<!--<head>-->
<!--    <style>-->
<!--        .center {-->
<!--            position: absolute;-->
<!--            left: 50%;-->
<!--            top: 50%;-->
<!--            transform: translate(-50%, -50%);-->
<!--        }-->
<!--    </style>-->
<!--</head>-->

<!--<div class="center">-->

<!--    <form class="text-center border border-light p-5" action="success" method="POST">-->
<!--        {% csrf_token %}-->

<!--        <p class="h3 mb-3"><i class="fas fa-coffee"></i> Make A Payment</p>-->
<!--&lt;!&ndash;        <p class="mb-3">Help us create more videos by donating 500 INR</p>&ndash;&gt;-->

<!--        <input type="name" name="name" id="name" required class="form-control mb-4" placeholder="Name">-->

<!--        &lt;!&ndash; RAZORPAY INTEGRATION HERE &ndash;&gt;-->
<!--        <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_FiYS35hJuCOj8b"-->
<!--            data-amount="50000" data-currency="INR" data-order_id="{{payment.id}}" data-buttontext="Pay with Razorpay"-->
<!--            data-name="Professional Cipher" data-description="Django and Data Science"-->
<!--            data-image="images3.jpeg" data-prefill.name="dimridd" data-prefill.email="dimridd@gmail.com"-->
<!--            data-theme.color="#F37254">-->
<!--        </script>-->
<!--    </form>-->

<!--</div>-->


<!--</div>-->
<!--{% endblock %}-->

{% load rest_framework %}

<html><body>

<h1>Profile - {{ profile.name }}</h1>

<form action="{% url 'pay' %}" method="POST">
    {% csrf_token %}
    {% render_form serializer %}
    <input type="submit" value="Save">
</form>

</body></html>
